img {
    width: 250px;
    height: 370px;
    border-radius: 10px;
}
.movie {
    background-color: #FFA6C9;
    border: 30px solid #FFA6C9;
    border-radius: 10px;
    margin: 30px;
}

.movieName {
    font-weight:bold;
    font-size: 20px;
}

